Data Types and Structures Questions

1) What are data structures, and why are they important?
   - Data structures are fundamental ways to organize and store data to enable efficient access and manipulation, and they are crucial for writing efficient and understandable code. They are essential for computer science because they allow users and systems to organize, work with, and store data efficiently.

2) Explain the difference between mutable and immutable data types with examples.
   - Mutable data types allow their values to be modified after creation, while immutable data types cannot be changed once created. In Python, lists and dictionaries are mutable, whereas strings and tuples are immutable.  
    my_list = [1, 2, 3]
        my_list.append(4)  # Add an element
        my_list[0] = 5  # Modify an element
        print(my_list)  # Output: [5, 2, 3, 4]  
        list is mutable.
   
    my_tuple = (1, 2, 3)
        # my_tuple[0] = 4  # This will raise an error.
        tuples are immutable.    


3) What are the main differences between lists and tuples in Python?
   - The main difference between lists and tuples in Python lies in their mutability: lists are mutable (changeable), while tuples are immutable (unchangeable).


4) Describe how dictionaries store data.   
   - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

5) Why might you use a set instead of a list in Python?
   - Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.  


6) What is a string in Python, and how is it different from a list?
   - In Python, a string is a sequence of characters enclosed in single or double quotes, while a list is an ordered, mutable collection of items (which can be of any data type) enclosed in square brackets.


7) How do tuples ensure data integrity in Python?   
   - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.


8) What is a hash table, and how does it relate to dictionaries in Python?   
   - A hash table is a data structure that stores key-value pairs, using a hash function to map keys to indices in an array (or "buckets") for fast lookup, and Python dictionaries are built upon this concept.


9) Can lists contain different data types in Python?  
   - In a list, you can store objects of any type. You can also mix objects of different types within the same list, although list elements often share the same type.


10)Explain why strings are immutable in Python?
   - Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.
   The immutable term generally refers to their property of being immune to change or modification after their creation, the same case with the string data type in Python which is immutable.


11)What advantages do dictionaries offer over lists for certain tasks?
   - Advantages of dictionaries over lists
     
     Faster data retrieval:- Dictionaries use hash tables to quickly access values based on keys.

     Faster lookups:- Dictionaries are faster than lists for lookups.

     Easier to read:- Dictionaries make code easier to read when generating key-value pairs.

     Better for configurations and caches:- Dictionaries are better for quick data look-ups, configurations, or caches.


12)Describe a scenario where using a tuple would be preferabl
     over a list.
     
  - Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections. Use a tuple if you need an immutable collection where the elements won't change after creation.     
     


13)How do sets handle duplicate values in Python?
   - Python sets cannot have duplicate values. While you cannot modify the individual elements directly, you can still add or remove elements from the set. Output: The first code explains that the set cannot have a duplicate value.


14) How does the “in” keyword work differently for lists and dictionaries?
- The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct
proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.


15)Can you modify the elements of a tuple? Explain why or why not.
   - No, you cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation.
  
   why not---

- Immutability:    Tuples are designed to be a fixed, ordered collection of items, and allowing modification would violate this fundamental principle.

- Data Integrity: Immutability helps ensure data integrity by preventing accidental or unintended changes to the tuple's contents.
- Efficiency: Because tuples are immutable, the Python interpreter can optimize their storage and access, leading to potentially faster performance.
-Alternative: If you need a mutable sequence, use a list instead.


16) What is a nested dictionary, and give an example of its use case.
   - A nested dictionary is a dictionary where the values are themselves dictionaries, allowing for a hierarchical data structure.
   
   Example of a nested dictionary

 people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
          print(people)



17) Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary (or hash map) by key has an average time complexity of O(1), meaning it takes constant time, regardless of the dictionary's size.           



18)In what situations are lists preferred over dictionaries?
   - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.



19)Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries are considered unordered because they don't maintain a specific order of elements based on insertion, unlike lists or tuples. This means data retrieval is based on keys, not positions, and the order of keys in a dictionary can vary during iteration or printing.    



20)Explain the difference between a list and a dictionary in terms of data retrieval.   
  - In data retrieval, lists access elements by their numerical index (starting from 0), while dictionaries access elements (values) by their unique key, offering faster lookups for specific data based on identifiers.

In [1]:
#Write a code to create a string with your name and print it
a = "Sayali"
print(a)

Sayali

In [2]:
#Write a code to find the length of the string "Hello World"
a="Hello World"
len(a)

11

In [4]:
#Write a code to slice the first 3 characters from the string "Python Programming"
a="python programming"
a[0:3]

'pyt'

In [5]:
#Write a code to convert the string "hello" to uppercase
a="hello"
a.upper()

'HELLO'

In [9]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="I like apple"
a[2].replace("apple","oraange")
print(a)

I like apple

In [12]:
#Write a code to create a list with numbers 1 to 5 and print it
a=list(range(0,6))
print(a)

[0, 1, 2, 3, 4, 5]

In [14]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [15]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [16]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
L=['a','b','c','d']
L[1]

'b'

In [18]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
L=[10,20,30,40,50]
L[::-1]

[50, 40, 30, 20, 10]

In [19]:
 #Write a code to create a tuple with the elements 100, 200, 300 and print it
 a=(100,200,300)
 print(a)

(100, 200, 300)

In [22]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t=('red','green','blue','yellow')
b=t[1:4]
print(b)

('green', 'blue', 'yellow')

In [10]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t=(10,20,5,15)
min(t)

5

In [26]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t=('dog','cat','rabbit')
t.index('cat')

1

In [27]:
 #Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
 a=('mango','kiwi','orange')
 'kiwi'in a

True

In [28]:
 #Write a code to create a set with the elements 'a', 'b', 'c' and print it
 s={'a','b','c'}
 print(s)

{'c', 'a', 'b'}

In [29]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [30]:
 #Write a code to remove the element 4 from the set {1, 2, 3, 4}
 s={1,2,3,4}
 s.remove(4)
 print(s)

{1, 2, 3}

In [31]:
 #Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
 a={1,2,3}
 b={3,4,5}
 c=a|b
 print(c)

{1, 2, 3, 4, 5}

In [32]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a={1,2,3}
b={3,4,5}
c=a&b
print(c)

{3}

In [33]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={'name':'sayali','age':30,'city':'sangli'}
print(d)

{'name': 'sayali', 'age': 30, 'city': 'sangli'}

In [38]:
# Write a code to add  new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d={'name':'john','age':25}
d1={'country':'USA'}
d.update(d1)
print(d)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [41]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d={'name':'Alice','age':30}
d['name']

'Alice'

In [45]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d={'name':'Bob','age':22,'city':'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [12]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict={'name':'Alice','city':'Paris'}
if "city" in dict:
    print("Key exists.")
else:
    print("Key does not exist.")

Key exists.

In [14]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
t=(1,2,3,4)
d={"a":8,"b":9}
l=['saya',5.6,True,3+5j,5]
my_list=[t,d,l]
print(my_list)

[(1, 2, 3, 4), {'a': 8, 'b': 9}, ['saya', 5.6, True, (3+5j), 5]]

In [1]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
L=[99,60,100,3,50]
L.sort()
print(L)

[3, 50, 60, 99, 100]

In [2]:
 # Write a code to create a list with strings and print the element at the third index.
 a=['sayali','adhiraj','vijay','didi']
 a[3]

'didi'

In [3]:
#Write a code to combine two dictionaries into one and print the result
d1={'name':'adhiraj','age':2}
d2={'city':'sangli','contact':1234}
d1.update(d2)
print(d1)

{'name': 'adhiraj', 'age': 2, 'city': 'sangli', 'contact': 1234}

In [4]:
#Write a code to convert a list of strings into a set
a=['sayali','riya','priya','disha','sona']
b=set(a)
print(b)

{'sayali', 'priya', 'disha', 'sona', 'riya'}